.shadow{
    box-shadow: 1px 1px 10px #cccccc;
}

.main-header-container{
     display: flex;
     align-items: center;
     padding-inline: 50px;
     padding-top: 15px;
    flex-wrap: wrap;
 }

.main-header-container-mobile{
    display: flex;
    align-items: center;
    padding-top: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo-image{
    width: 240px;
    height: 60px;
    cursor: pointer;
}

.logo-image-mobile{
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.top-left-container-mobile{
    flex: 1;
}

.top-right-container-mobile{
    flex: 1;
}

.header-manu-container{
    margin-left: auto;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.header-manu-container-mobile{
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.search-bar-container{
    margin-left: 32px;
    margin-top: 42px;
    margin-bottom: 42px;
}


.search-bar-container-mobile{
    margin-top: 9px;
    margin-bottom: 20px;
}

.header-manu-text{
    font-weight: bold !important;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-left: 8px !important ;
}

.header-manu-text-mobile{
    font-weight: bold !important;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;
}

.header-manu-text-mobile-tmp{ /* 특가알림 세로정렬 issue */
    font-weight: bold !important;
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 1px;
}

.login-text-mobile{
    float: inline-end;
    text-decoration: none;
    margin-right: 15px;
}

.header-top-container-mobile{
    flex-direction: row;
    display: flex;
    align-self: stretch;
    margin-top: 10px;
}

#star-btn{
    display: flex;
    margin-right: 25px;
}

#star-btn-mobile{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#faq-btn{
    cursor: pointer;
    display: flex;
    margin-right: 25px;
}

#faq-btn-mobile{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#real-hot-deal-distinction-btn{
    cursor: pointer;
    display: flex;
    margin-right: 25px;
}

#real-hot-deal-distinction-btn-mobile{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notification-btn{
    cursor: pointer;
    display: flex;
    margin-right: 25px;
}

#notification-btn-mobile{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}
