body {
  margin: 0;
  font-family: 'line',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'line';
}
@font-face {
  font-family: "Line";
  src: url("./fonts/LINESeedKR-Rg.otf") format('opentype');
}

@font-face {
  font-family: "Line";
  font-weight: 700;
  src: url("./fonts/LINESeedKR-Bd.otf") format('opentype');
}